@font-face {
    font-family: "October_Crow";
    src: url(October_Crow.ttf) format("truetype");
}

/*Lists-------------------------------------------------------------------------------------*/
.cleanList {
    text-decoration: none;
    list-style: none;
}

/*Header------------------------------------------------------------------------------------*/
header{
    background: #808080;
}

header ul a{
    color: #f7f7f7ec;
    background-color: #808080;
    font-size: 24px;
}

header ul li {
    display: inline-block;
}

.menu {
    text-align: right;
}

/*Body--------------------------------------------------------------------------------------*/
body {
    background-color: black;
    color: #f7f7f7ec;
    font-family: 'Courier New', Courier, monospace;
}

.phasmoIntro {
    background-color: #808080;
    padding: 5px;
    margin: 5px;
}

.phasmoDescription {
    text-align: center;
    line-height: 25px;
}

body p{
    color: #f7f7f7ec;
}

/*Video-------------------------------------------------------------------------------------*/
.phasmoVideo {
    width: 860px;
    background-color: #808080;
}

/*Title-------------------------------------------------------------------------------------*/
.phasmoFont {
    font-family: 'October_Crow';
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 30px;
    text-align: center;
}

/*Table of description of equipments--------------------------------------------------------*/
table tr th{
    background-color: #808080;
    color: #f7f7f7ec;
}

table tr td {
    background-color: #969494;
    color: #f7f7f7ec;
}

/*Form----------------------------------------------------------------------------------*/
form {
    background-color: #808080;
    color: #f7f7f7ec;
}

.newsForm {
    width: 300px;
    text-align: center;
}

/*Text align----------------------------------------------------------------------------*/
.textCenter {
    text-align: center;
}