/* FONT TITLE */

@font-face {
    font-family: "October_Crow";
    src: url(October_Crow.ttf) format("truetype");
}

/* MOBILE FIRST */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff26 0%, #00000026 100%), radial-gradient(at top center, #ffffff66 0%, #00000066 120%) #989898;
    background-blend-mode: multiply,multiply;
}

header a {
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

/* MAIN */
body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;
}

main h1 {
    font-family: 'October_Crow';
    font-size: 28px;
    letter-spacing: 0.5rem;
    padding-top: 1rem;
}

main h1:hover {
    animation: heartbeat;
    animation-duration: 2s;
}

main h2 {
    font-family: 'October_Crow';
    letter-spacing: 0.3rem;
}

main section {
    text-align: center;
}

main p {
    padding: 1rem;
}

main video {
    width: 320px;
}

main img {
    width: 300px;
}

/* FORM */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    background-color: #5f5f5f;
}

.checkbox {
    display: flex;
    flex-direction: row;
}

.formContent {
    margin: 0.5rem 3rem;
}

.formBtn {
    margin: 0.5rem 8rem;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    background: linear-gradient(to bottom, #ffffff26 0%, #00000026 100%), radial-gradient(at top center, #ffffff66 0%, #00000066 120%) #989898;
    background-blend-mode: multiply,multiply;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

footer li {
    margin: 10px;
}

/* RESPONSIVE */
/* MEDIUM DEVICES */

@media (min-width: 768px){
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header a {
        font-size: 1.2rem;
    }
    main video {
        width: 700px;
    }
    main p {
        margin: 0 1rem;
    }
    form {
        display: flex;
        justify-content: center;
    }
}

/* LARGE DEVICES */

@media (min-width: 1024px){
    header a {
        font-size: 1.5rem;
    }
    header {
        grid-area: header;
    }
    .intro {
        grid-area: intro;
    }
    .video {
        grid-area: video;
    }
    .equipment {
        grid-area: equipment;
    }
    .form {
        grid-area: form;
    }
    footer {
        grid-area: footer;
    }
    .content {
        display:grid;
        grid-template-areas:"header header header"
                            "intro intro intro"
                            "video video video"
                            "equipment equipment equipment"
                            "form form form";
    }
    main h1 {
        font-size: 2.5rem;
    }
    main p {
        margin: 0 5rem;
    }
    main video {
        width: 75%;
    }
    main img {
        width: 500px;
    }
}