/*#grilla {
    display: grid;
    grid-template-areas:
    "nav header header"
    "nav productos publicidad"
    "nav servicios publicidad"
    "nav footer footer";
    grid-template-rows: 100px 1fr 1fr 75px; 
    grid-template-columns: 20% auto 15%;
}
.border {
    border: 1px solid black;
}*/

#padre {
    justify-items: stretch; /* start | end | center | stretch */
    align-items: stretch; /* start | end | center | stretch */
    display: grid;
    width: 95%;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-template-rows: 100px 100px;
    grid-row-gap: 10px;
}

#padre div {
    border: solid 1px;
    font-size: 21px;
    padding: 5px;
    background-color: yellow;
    grid
}